<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.paper.PaperMapper">
    <resultMap id="admin" type="com.example.demo.entity.paper.Paper">
        <id property="pid" column="pid"/>
        <result property="pname" column="pname"/>
        <result property="ptime" column="ptime"/>
        <result property="tid" column="tid"/>
        <result property="deadline" column="deadline"/>
        <result property="num" column="num"/>
        <result property="judScore" column="judscore"/>
    </resultMap>

    <select id="listPaper" resultType="com.example.demo.entity.paper.Paper">
SELECT * FROM t_paper
    </select>

    <insert id="addPaper" parameterType="paper">
INSERT into t_paper (pid,pname,ptime,tid,deadline,num,judscore)
values (#{paper.pid},#{paper.pname},#{paper.ptime},#{paper.tid},#{paper.deadline},#{paper.num},#{paper.judScore})
    </insert>

    <delete id="delPaper" parameterType="paper">
DELETE from t_paper where pid=#{pid}
    </delete>

    <update id="updatePname" parameterType="paper">
update t_paper set pname=#{pname} WHERE pid=#{pid}
    </update>

</mapper>